<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/_header') %>
    <title>Dashboard</title>
  </head>
  <body class="dashboard">
    <%- include('include/_navbar') %>
    <main id="site-main">
      <div class="container">
        <!-- form handling -->
        <form action="/dashboard" method="POST">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Date</th>
                <th>Sale</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <%- include('include/_show') %>
            </tbody>
          </table>
        </form>
      </div>
    </main>
    <%- include('include/_footer') %>
  </body>
</html>
