<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/_header') %>
    <title>Home</title>
  </head>
  <body class="home">
    <nav>
      <a
        class="navbar-brand my-3"
        href="#"
        style="color: #edf2f4; font-size: 3em"
      >
        PRODUCT MANAGEMENT SYSTEM
      </a>
      <ul class="nav justify-content-end mx-4">
        <li class="btn nav-item">
          <a class="btn btn-light btn-lg px-5" href="/register">Register</a>
        </li>
        <li class="btn nav-item">
          <a class="btn btn-light btn-lg px-5" href="/login">Login</a>
        </li>
      </ul>
    </nav>
    <%- include('include/_footer') %>
  </body>
</html>
