<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/__header') %>
    <title>Register</title>
  </head>

  <body>
    <section class="vh-100 gradient-custom">
      <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card bg-dark text-white" style="border-radius: 1rem">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">
                    Create an account
                  </h2>

                  <form class="register" method="POST" action="/register">
                    <div class="form-outline mb-4">
                      <input
                        placeholder="Username"
                        type="text"
                        id="form3Example1cg"
                        class="form-control form-control-lg lgip"
                        name="username"
                      />
                      <label
                        class="form-label visually-hidden"
                        for="form3Example1cg"
                        >Username</label
                      >
                    </div>

                    <div class="form-outline mb-4">
                      <input
                        placeholder="Email"
                        type="email"
                        id="form3Example3cg"
                        class="form-control form-control-lg lgip"
                        name="email"
                      />
                      <label
                        class="form-label visually-hidden"
                        for="form3Example3cg"
                        >Your Email</label
                      >
                    </div>

                    <div class="form-outline mb-4">
                      <input
                        placeholder="Password"
                        type="password"
                        id="form3Example4cg"
                        class="form-control form-control-lg lgip"
                        name="password"
                      />
                      <label
                        class="form-label visually-hidden"
                        for="form3Example4cg"
                        >Password</label
                      >
                    </div>

                    <div class="form-outline mb-4">
                      <input
                        placeholder="Confirm Password"
                        type="password"
                        id="form3Example4cdg"
                        class="form-control form-control-lg lgip"
                        name="confirmPassword"
                      />
                      <label
                        class="form-label visually-hidden"
                        for="form3Example4cdg"
                        >Repeat your password</label
                      >
                    </div>

                    <div class="d-flex justify-content-center">
                      <button
                        type="submit"
                        class="btn-lg btn btn-outline-light px-5"
                      >
                        Register
                      </button>
                    </div>

                    <p class="text-center text-muted mt-5 mb-0">
                      Have already an account?
                      <a href="/" class="text-white-50 fw-bold text-body"
                        ><u>Login here</u></a
                      >
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/js/bootstrap.bundle.min.js"
      integrity="sha512-trzlduO3EdG7Q0xK4+A+rPbcolVt37ftugUSOvrHhLR5Yw5rsfWXcpB3CPuEBcRBCHpc+j18xtQ6YrtVPKCdsg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
