<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/_header') %>
    <title>Update Product</title>
  </head>

  <body>
    <section class="vh-100 gradient-custom">
      <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card bg-dark text-white" style="border-radius: 1rem">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">
                    UPDATE PRODUCT
                  </h2>

                  <%- include('include/_upform') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('include/_footer') %>
  </body>
</html>
