<form class="addprod" method="POST" action="/addproduct">
  <div class="form-outline mb-4">
    <input
      placeholder="Product Name"
      type="text"
      id="form3Example1cg"
      class="form-control form-control-lg lgip"
      name="pname"
    />
    <label class="form-label visually-hidden" for="form3Example1cg"
      >Product Name</label
    >
  </div>

  <div class="form-outline mb-4">
    <input
      placeholder="Price"
      type="number"
      id="form3Example3cg"
      class="form-control form-control-lg lgip"
      name="price"
    />
    <label class="form-label visually-hidden" for="form3Example3cg"
      >Price</label
    >
  </div>

  <div class="form-outline mb-4">
    <input
      placeholder="Quantity"
      type="number"
      id="form3Example4cg"
      class="form-control form-control-lg lgip"
      name="quantity"
    />
    <label class="form-label visually-hidden" for="form3Example4cg"
      >Quantity</label
    >
  </div>

  <div class="form-outline mb-4">
    <input
      placeholder="Date"
      type="text"
      id="form3Example4cdg"
      class="form-control form-control-lg lgip"
      name="date"
    />
    <label class="form-label visually-hidden" for="form3Example4cdg"
      >Date</label
    >
  </div>

  <div class="form-outline mb-4">
    <input
      placeholder="Sale"
      type="number"
      id="form3Example4cdg"
      class="form-control form-control-lg lgip"
      name="sale"
    />
    <label class="form-label visually-hidden" for="form3Example4cdg"
      >Sale</label
    >
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn-lg btn btn-outline-light px-5">
      Add Product
    </button>
  </div>
</form>
