<header>
  <div class="container">
    <nav>
      <ul class="nav">
        <li class="btn nav-item">
          <a class="btn btn-light btn-lg px-5" href="/addproduct"
            >Add Product</a
          >
        </li>
        <p>PRODUCT MANAGEMENT SYSTEM</p>
        <li class="btn nav-item logout">
          <a class="btn btn-light btn-lg px-5" href="/">Log out</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
